<!doctype html>
<html>
<head>
    <title>Benford's Law</title>
</head>

<body>
    <h1><a href="https://www.statisticshowto.com/benfords-law/" target="_blank">Benford's Law</a></h1>
    <img src="{{ url_for('static', filename='benford.png') }}" alt="Empty Image File">

    <form action = "/upload" method = "post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type = "submit" value="Upload">
    </form>

    <hr>

    <form action="/run_benford" method="POST">
        <label for="column" style="display: block">Column index to process, negative indices refer to columns from end (Python-like index).</label>
        <input type="number" id="column" name="column" value=0 style="display: block"></input>
        <button type="submit" name="run_benford">Run</button>
    </form>
</body>
</html>
